Repository ita-social-projects/dokazovi-be, pull requests merged in 2021-08, with the labels that each got.

#428 Issue 422 update endpoint posts by important image
  src/main/java/com/softserveinc/dokazovi/controller/PostController.java
  src/main/java/com/softserveinc/dokazovi/repositories/PostRepository.java
  src/main/java/com/softserveinc/dokazovi/service/PostService.java
  src/main/java/com/softserveinc/dokazovi/service/impl/PostServiceImpl.java
  src/test/java/com/softserveinc/dokazovi/controller/PostControllerTest.java
  src/test/java/com/softserveinc/dokazovi/service/impl/PostServiceImplTest.java
Labels: backend

#429 Merge develop to release
  src/main/java/com/softserveinc/dokazovi/controller/PostController.java
  src/main/java/com/softserveinc/dokazovi/repositories/PostRepository.java
  src/main/java/com/softserveinc/dokazovi/service/PostService.java
  src/main/java/com/softserveinc/dokazovi/service/impl/PostServiceImpl.java
  src/test/java/com/softserveinc/dokazovi/controller/PostControllerTest.java
  src/test/java/com/softserveinc/dokazovi/service/impl/PostServiceImplTest.java
Labels: backend

#431 Fix getting posts by important image
  src/main/java/com/softserveinc/dokazovi/repositories/PostRepository.java
Labels: bug, backend

#432 Issue 430 fix getting posts by important image
  src/main/java/com/softserveinc/dokazovi/repositories/PostRepository.java
  src/main/java/com/softserveinc/dokazovi/service/PostService.java
  src/main/java/com/softserveinc/dokazovi/service/impl/PostServiceImpl.java
Labels: bug, backend

#427 Add integration test to post controller
  .idea/codeStyles/Project.xml
  build.gradle
  src/integrationTest/java/com/softserveinc/dokazovi/DokazoviApplicationIntegrationTests.java
  src/integrationTest/java/com/softserveinc/dokazovi/controller/PostControllerIntegrationTest.java
  src/integrationTest/java/com/softserveinc/dokazovi/controller/RequestsBodies.java
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/db/insertBasicInformation.sql
  src/integrationTest/resources/db/postsData.sql
  src/main/java/com/softserveinc/dokazovi/dto/origin/OriginDTO.java
  src/main/java/com/softserveinc/dokazovi/exception/ForbiddenPermissionsException.java
  src/test/java/com/softserveinc/dokazovi/mapper/OriginMapperTest.java
Labels: backend

#434 Issue 433 administrator page security
  src/main/java/com/softserveinc/dokazovi/controller/EndPoints.java
  src/main/java/com/softserveinc/dokazovi/controller/PostController.java
  src/main/java/com/softserveinc/dokazovi/controller/UserController.java
  src/main/java/com/softserveinc/dokazovi/repositories/PasswordResetTokenRepository.java
  src/test/java/com/softserveinc/dokazovi/controller/UserControllerTest.java
Labels: backend

#438 Six users' test data was appended
  src/main/resources/db/testdata/V13.5__add_new_users.sql
Labels: backend, SQL

#439 Merge from develop into release
  .idea/codeStyles/Project.xml
  build.gradle
  src/integrationTest/java/com/softserveinc/dokazovi/DokazoviApplicationIntegrationTests.java
  src/integrationTest/java/com/softserveinc/dokazovi/controller/PostControllerIntegrationTest.java
  src/integrationTest/java/com/softserveinc/dokazovi/controller/RequestsBodies.java
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/db/insertBasicInformation.sql
  src/integrationTest/resources/db/postsData.sql
  src/main/java/com/softserveinc/dokazovi/controller/EndPoints.java
  src/main/java/com/softserveinc/dokazovi/controller/PostController.java
  src/main/java/com/softserveinc/dokazovi/controller/UserController.java
  src/main/java/com/softserveinc/dokazovi/dto/origin/OriginDTO.java
  src/main/java/com/softserveinc/dokazovi/exception/ForbiddenPermissionsException.java
  src/main/java/com/softserveinc/dokazovi/repositories/PasswordResetTokenRepository.java
  src/main/java/com/softserveinc/dokazovi/repositories/PostRepository.java
  src/main/java/com/softserveinc/dokazovi/service/PostService.java
  src/main/java/com/softserveinc/dokazovi/service/impl/PostServiceImpl.java
  src/main/resources/db/testdata/V13.5__add_new_users.sql
  src/test/java/com/softserveinc/dokazovi/controller/UserControllerTest.java
  src/test/java/com/softserveinc/dokazovi/mapper/OriginMapperTest.java
Labels: bug, backend, SQL

#444 To fix bug regarding sorting of author's posts
  src/main/java/com/softserveinc/dokazovi/repositories/PostRepository.java
  src/main/java/com/softserveinc/dokazovi/service/impl/PostServiceImpl.java
  src/test/java/com/softserveinc/dokazovi/service/impl/PostServiceImplTest.java
Labels: backend, SQL

#443 Issue_440_Main page sorting posts issue
  src/main/java/com/softserveinc/dokazovi/dto/post/PostMainPageDTO.java
  src/main/java/com/softserveinc/dokazovi/repositories/PostRepository.java
  src/main/java/com/softserveinc/dokazovi/service/impl/PostServiceImpl.java
Labels: backend, SQL

#446 Issue divide master develop db data
  src/main/resources/application-prod.properties
  src/main/resources/db/masterdata/V14.1__add_demo_data.sql
Labels: backend, SQL

#447 Merge develop into release
  src/main/java/com/softserveinc/dokazovi/controller/EndPoints.java
  src/main/java/com/softserveinc/dokazovi/controller/UserController.java
  src/main/java/com/softserveinc/dokazovi/dto/post/PostMainPageDTO.java
  src/main/java/com/softserveinc/dokazovi/repositories/DirectionRepository.java
  src/main/java/com/softserveinc/dokazovi/repositories/PostRepository.java
  src/main/java/com/softserveinc/dokazovi/service/DirectionService.java
  src/main/java/com/softserveinc/dokazovi/service/impl/DirectionServiceImpl.java
  src/main/java/com/softserveinc/dokazovi/service/impl/PostServiceImpl.java
  src/main/resources/application-prod.properties
  src/main/resources/db/masterdata/V14.1__add_demo_data.sql
  src/main/resources/db/migration/V14__add_doctor_post_directions_table.sql
  src/test/java/com/softserveinc/dokazovi/controller/UserControllerTest.java
  src/test/java/com/softserveinc/dokazovi/service/impl/DirectionServiceImplTest.java
  src/test/java/com/softserveinc/dokazovi/service/impl/PostServiceImplTest.java
Labels: bug, backend, SQL

#448 Merge release into master
  .idea/codeStyles/Project.xml
  build.gradle
  src/integrationTest/java/com/softserveinc/dokazovi/DokazoviApplicationIntegrationTests.java
  src/integrationTest/java/com/softserveinc/dokazovi/controller/PostControllerIntegrationTest.java
  src/integrationTest/java/com/softserveinc/dokazovi/controller/RequestsBodies.java
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/db/insertBasicInformation.sql
  src/integrationTest/resources/db/postsData.sql
  src/main/java/com/softserveinc/dokazovi/controller/EndPoints.java
  src/main/java/com/softserveinc/dokazovi/controller/PostController.java
  src/main/java/com/softserveinc/dokazovi/controller/UserController.java
  src/main/java/com/softserveinc/dokazovi/dto/origin/OriginDTO.java
  src/main/java/com/softserveinc/dokazovi/dto/post/PostMainPageDTO.java
  src/main/java/com/softserveinc/dokazovi/exception/ForbiddenPermissionsException.java
  src/main/java/com/softserveinc/dokazovi/repositories/DirectionRepository.java
  src/main/java/com/softserveinc/dokazovi/repositories/PasswordResetTokenRepository.java
  src/main/java/com/softserveinc/dokazovi/repositories/PostRepository.java
  src/main/java/com/softserveinc/dokazovi/service/DirectionService.java
  src/main/java/com/softserveinc/dokazovi/service/PostService.java
  src/main/java/com/softserveinc/dokazovi/service/impl/DirectionServiceImpl.java
  src/main/java/com/softserveinc/dokazovi/service/impl/PostServiceImpl.java
  src/main/resources/application-prod.properties
  src/main/resources/db/masterdata/V14.1__add_demo_data.sql
  src/main/resources/db/migration/V14__add_doctor_post_directions_table.sql
  src/main/resources/db/testdata/V13.5__add_new_users.sql
  src/test/java/com/softserveinc/dokazovi/controller/PostControllerTest.java
  src/test/java/com/softserveinc/dokazovi/controller/UserControllerTest.java
  src/test/java/com/softserveinc/dokazovi/mapper/OriginMapperTest.java
  src/test/java/com/softserveinc/dokazovi/service/impl/DirectionServiceImplTest.java
  src/test/java/com/softserveinc/dokazovi/service/impl/PostServiceImplTest.java
Labels: bug, backend, SQL

#451 Fix post related bugs and extend doctor post directions table
  src/main/java/com/softserveinc/dokazovi/controller/UserController.java
  src/main/java/com/softserveinc/dokazovi/repositories/DirectionRepository.java
  src/main/java/com/softserveinc/dokazovi/service/DirectionService.java
  src/main/java/com/softserveinc/dokazovi/service/impl/DirectionServiceImpl.java
  src/main/java/com/softserveinc/dokazovi/service/impl/PostServiceImpl.java
  src/main/resources/db/migration/V15__add_visible_and_user_id_to_doctor_post_directions_table.sql
  src/main/resources/db/testdata/V15.1__fix_directions_has_posts.sql
  src/test/java/com/softserveinc/dokazovi/service/impl/DirectionServiceImplTest.java
  src/test/java/com/softserveinc/dokazovi/service/impl/PostServiceImplTest.java
Labels: backend, SQL

#450 Adjusted query field from Created_At to Published_At for 4 methods
  src/main/java/com/softserveinc/dokazovi/repositories/PostRepository.java
Labels: backend, SQL

#454 added values to platform_information table
  src/main/resources/db/masterdata/V15.2__add_platform_information.sql
Labels: SQL

#452 Fix post types filters and direction changing
  src/main/java/com/softserveinc/dokazovi/repositories/PostTypeRepository.java
  src/main/resources/db/migration/R__triggers.sql
Labels: backend, SQL

#455 Merge develop into release
  src/main/java/com/softserveinc/dokazovi/controller/UserController.java
  src/main/java/com/softserveinc/dokazovi/repositories/DirectionRepository.java
  src/main/java/com/softserveinc/dokazovi/repositories/PostRepository.java
  src/main/java/com/softserveinc/dokazovi/repositories/PostTypeRepository.java
  src/main/java/com/softserveinc/dokazovi/service/DirectionService.java
  src/main/java/com/softserveinc/dokazovi/service/impl/DirectionServiceImpl.java
  src/main/java/com/softserveinc/dokazovi/service/impl/PostServiceImpl.java
  src/main/resources/db/masterdata/V15.2__add_platform_information.sql
  src/main/resources/db/migration/R__triggers.sql
  src/main/resources/db/migration/V15__add_visible_and_user_id_to_doctor_post_directions_table.sql
  src/main/resources/db/testdata/V15.1__fix_directions_has_posts.sql
  src/test/java/com/softserveinc/dokazovi/service/impl/DirectionServiceImplTest.java
  src/test/java/com/softserveinc/dokazovi/service/impl/PostServiceImplTest.java
Labels: backend, SQL

#456 Merge Release into Master
  src/main/java/com/softserveinc/dokazovi/controller/UserController.java
  src/main/java/com/softserveinc/dokazovi/repositories/DirectionRepository.java
  src/main/java/com/softserveinc/dokazovi/repositories/PostRepository.java
  src/main/java/com/softserveinc/dokazovi/repositories/PostTypeRepository.java
  src/main/java/com/softserveinc/dokazovi/service/DirectionService.java
  src/main/java/com/softserveinc/dokazovi/service/impl/DirectionServiceImpl.java
  src/main/java/com/softserveinc/dokazovi/service/impl/PostServiceImpl.java
  src/main/resources/db/masterdata/V15.2__add_platform_information.sql
  src/main/resources/db/migration/R__triggers.sql
  src/main/resources/db/migration/V15__add_visible_and_user_id_to_doctor_post_directions_table.sql
  src/main/resources/db/testdata/V15.1__fix_directions_has_posts.sql
  src/test/java/com/softserveinc/dokazovi/service/impl/DirectionServiceImplTest.java
  src/test/java/com/softserveinc/dokazovi/service/impl/PostServiceImplTest.java
Labels: backend, SQL

#458 Fixed broken expert search in admins editor
  src/main/java/com/softserveinc/dokazovi/repositories/UserRepository.java
  src/main/java/com/softserveinc/dokazovi/service/impl/UserServiceImpl.java
  src/main/resources/db/migration/V16__add_uk_ua_collation.sql
  src/test/java/com/softserveinc/dokazovi/service/impl/UserServiceImplTest.java
Labels: backend, SQL
